<html>
    <head>
    </head>
    <body>
        
        La solicitud de importación #{{solImpId}} de la empresa "{{entNombComercial}}" ha ingresado a la etapa {{etpNombre}}, y es necesario de su evaluación para que continue con el proceso.
        <br/>Ingrese al link para evaluarla: <br/>
        <br/>
        
        <a href="{{ url }}">{{ url }}</a>
        
        <br/>
        <br/>
        Saludos,<br/>
        Equipo Sistema de Control de Alcoholes<br/>
        SCA - MINSAL/MH<br/>
        El Salvador<br/>

    </body>
</html>