<html>
    <head>
    </head>
    <body>
        
        La solicitud de importación <b>#{{solImpId}}</b> de la empresa <b>"{{entNombComercial}}"</b> ha ingresada a la etapa <b>"{{etpNombre}}"</b>.
        <br/><br/>Ingrese al link para revisar la solicitud: <br/>
        <br/>
        
        <a href="{{ url }}">{{ url }}</a>
        
        <br/>
        <br/>
        Saludos,<br/>
        Equipo Sistema de Control de Alcoholes<br/>
        SCA - MINSAL/MH<br/>
        El Salvador<br/>

    </body>
</html>