{% form_theme form 'MinSalSidPlaUsersBundle:ChangePassword/Form:fields.html.twig' %}

<form id="formUsuario" action="{{ path('MinSalSidPlaUsersBundle_changePassword') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
    <table align='center' style="border: 1px solid;" >
        <tr>
            <td align='center' colspan="2">
                <h1>
                    Cambio de Clave
                    {% if app.session.hasFlash('notice') %}
                        <div class="flash-notice">
                            {{ app.session.flash('notice') }}
                        </div>
                    {% endif %}
                </h1>
            </td>
        </tr>
        {#<tr>
            <td><label id="username" >Usuario:</label></td>
            <td>
                {{ form_widget(form.username) }}
                {{ form_errors(form.username) }}
            </td>
        </tr>#}
        <tr>
            <td><label id="current" >Contrase침a Actual:</label></td>
            <td>
                {{ form_widget(form.current) }}
                <div class="flash-notice">
                    {{ form_errors(form) }}
                </div>
            </td>
        </tr>
        <tr>
            <td><label id="newfirst" >Nueva Contrase침a:</label></td>
            <td>
                {{ form_widget(form.new.first) }}
            </td>
        </tr>
        <tr>
            <td><label id="newsecond" >Confirmaci칩n de Contrase침a:</label></td>
            <td>
                {{ form_widget(form.new.second) }}
                <div class="flash-notice">
                    {{ form_errors(form.new) }}
                </div>
            </td>
        </tr>
        {#<tr>
            <td>
                {{ form_widget(form) }}
            </td>
        </tr>#}
        <tr>
            <td align='center' colspan=2 >
                <input type="submit" value="Cambiar Clave" />
            </td>
        </tr>
    </table>
        {{ form_rest(form) }}
</form>