{% form_theme form 'MinSalSCAUsersBundle:ChangePassword/Form:fields.html.twig' %}

<script type="text/javascript">
    $(document).ready(function(){
        $('#verificarUsuario').button();
        $('#eliminarUsuario').button();
        $('#btnRegresar').button();
        
        $('#fos_user_registration_form_userDui').mask('99999999-9');
        $('#fos_user_registration_form_userNit').mask('9999-999999-999-9');
        
        $('#fos_user_registration_form_userInterno').val(getUserInterno())

        //$('#verificarUsuario').click(function(evento) {
        $('#formUsuario').submit(function(evento) {
            if($('#valido').val().toLowerCase()=='true'){
                return true;
            }else{
                $.getJSON('{{ path('MinSalSCAUsersBundle_verificaCreacion') }}'+
                        '?idUsuario='+ $('#fos_user_registration_form_idUsuario').val() +
                        '&username='+$("#fos_user_registration_form_username").get(0).value+
                        '&email='+$("#fos_user_registration_form_email").get(0).value, 
                    function(data) {
                        $.each(data, function(key, val) {
                           if(key=='msj'){
                                $.each(val, function(id, registro){
                                    if(!registro[1]){
                                        $("#mensaje").attr('value', registro[0]);
                                        
                                        $('#msgDialog').html(registro[0]).dialog({
                                            modal:true,
                                            title: 'Error',
                                            buttons: {
                                                Ok: function() {
                                                  $( this ).dialog( "close" );
                                                }
                                            }
                                        });
                                        
                                        return false;
                                    }else{
                                        $('#valido').val(true)
                                        $('#formUsuario').submit();
                                        return true;
                                          //alert(registro[0]);
                                    }
                                });
                           }
                        });
                    }
                );
            
                return false;
            }
       });//FIn del clic
       
       //Hoja de estilo a tabla
       $('td>label').parent().attr('align','right');
       AcomodarFormulario();
    });
    
    function AcomodarFormulario(){
        if($('#fos_user_registration_form_idUsuario').val() ==''){
            $('#eliminarUsuario').hide();
        }else{
            $('#eliminarUsuario').show();
        }
        
        var userInterno = getUserInterno();
        
        if(userInterno){
            $('#userEmpresaPertenece').parent().parent().hide();//Ocultar Empresa 
            $('#userInternoTipo').parent().parent().show();     //Mostrar Ministerio
            
            $('#fos_user_registration_form_userInternoTipo').attr('required','required');
            
            var opciones = $('#fos_user_registration_form_userTipo').children();
            opciones.filter(function(index){
                if(this.value =='VENDEDOR' || this.value=='COMPRADOR'){
                    return true;
                }else{
                    return false;
                }
            }).hide().attr('disabled','disabled');
            
            opciones.filter(function(index){
                if(this.value =='APROBADOR' || this.value=='DIGITADOR'){
                    return true;
                }else{
                    return false;
                }
            }).show().removeAttr('disabled');
        }else{
            $('#userEmpresaPertenece').parent().parent().show();
            $('#userInternoTipo').parent().parent().hide();
            
            $('#fos_user_registration_form_userInternoTipo').removeAttr('required');
            
            var opciones = $('#fos_user_registration_form_userTipo').children();
            opciones.filter(function(index){
                if(this.value =='VENDEDOR' || this.value=='COMPRADOR'){
                    return true;
                }else{
                    return false;
                }
            }).show().removeAttr('disabled');
            
            opciones.filter(function(index){
                if(this.value =='APROBADOR' || this.value=='DIGITADOR'){
                    return true;
                }else{
                    return false;
                }
            }).hide().attr('disabled','disabled');
        }
    }
    
    function getUserInterno(){
        return {{userInterno}};
    }
    
    function enviarEliminarUsuario(){
        if(confirm('!Desea eliminar el usuario "'+$('#fos_user_registration_form_username').val()+'"?')){
            if(!confirm('!Desea abortar la eliminacion??')){
                $('#valido').val(true);
                $('#eliminar').val(true);
                $('#formUsuario').submit();
                return true;
            }
        }
        return false;
    }
</script>
    
    {% for key, message in app.session.getFlashes() %}
        <div class="{{ key }}">
            {{ message|trans({}, 'FOSUserBundle') }}
        </div>
    {% endfor %}

    {# ************************************************** #}
    {# LA URL DICE QUE ES PARA USUARIOS EXTERNOS, PERO LA VERDAD ES QUE POR LA ESTRUCTURA DE LOS PARAMETROS, FUNCIONA PARA USUARIOS INTERNOS #}
    {# ************************************************** #}
    <form id="formUsuario" action="{{ path('MinSalSCAUsersBundle_registerUsuarioExterno', {'userInterno':userInterno, 'entId':entId}) }}" {{ form_enctype(form) }} method="POST" class="fos_user_registration_register">
        <input type="hidden" id="valido" value=false/>
        <input type="hidden" id="eliminar" name="eliminar" value=false/>
        
            <table align='center' style="border: 1px solid;" >
                <tr>
                    <td align='center' colspan="2">
                        <h1>
                            {% if(userInterno == 'true') %}
                                Registro de Usuario de Ministerios
                            {%else%}
                                Registro de Usuario de {{entNombre}}
                            {%endif%}
                        </h1>
                    </td>
                </tr>
                <tr>
                    <td><label id="username" >Usuario:</label></td>
                    <td>
                        {{ form_widget(form.username) }}
                        {{ form_errors(form.username) }}
                    </td>
                </tr>
                <tr>
                    <td><label id="plainPasswordfirst" >Contraseña:</label></td>
                    <td>
                        {{ form_widget(form.plainPassword.first) }}
                        <div class="flash-notice">
                            {{ form_errors(form.plainPassword) }}
                        </div>
                    </td>
                </tr>   
                <tr>
                    <td><label id="plainPasswordsecond" >Confirmación de Contraseña:</label></td>
                    <td>{{ form_widget(form.plainPassword.second) }}</td>                
                </tr>  
                <tr>
                    <td><label id="email" >Email:</label></td>
                    <td>
                        {{ form_widget(form.email) }}
                        <div class="flash-notice">
                            {{ form_errors(form.email) }}
                        </div>
                    </td>
                </tr>            
                
                
                
                <tr>
                    <td colspan="2"><hr/></td>
                </tr> 
                
                
                
                <tr>
                    <td><label id="userPrimerNombre" >Primer Nombre:</label></td>
                    <td>{{ form_widget(form.userPrimerNombre) }}
                        {{ form_errors(form.userPrimerNombre) }}
                    </td>                
                </tr> 
                
                <tr>
                    <td><label id="userSegundoNombre" >Segundo Nombre:</label></td>
                    <td>{{ form_widget(form.userSegundoNombre) }}
                        {{ form_errors(form.userSegundoNombre) }}
                    </td>                
                </tr>
                
                <tr>
                    <td><label id="userApellidos" >Apellidos:</label></td>
                    <td>{{ form_widget(form.userApellidos) }}
                        {{ form_errors(form.userApellidos) }}
                    </td>                
                </tr> 
                
                <tr>
                    <td><label id="userDui" >DUI:</label></td>
                    <td>{{ form_widget(form.userDui) }}
                        {{ form_errors(form.userDui) }}
                    </td>                
                </tr>
                
                <tr>
                    <td><label id="userNit" >NIT:</label></td>
                    <td>{{ form_widget(form.userNit) }}
                        {{ form_errors(form.userNit) }}
                    </td>                
                </tr>
                
                <tr>
                    <td colspan="2"><hr/></td>
                </tr>
                
                <tr>
                    <td><label id="userEmpresaPertenece" >Empresa a la que pertenece:</label></td>
                    <td><input type="text" readonly="readonly" value="{{entNombre}}"/>
                    </td>
                </tr>
                
                <tr>
                    <td><label id="userInternoTipo" >Ministerio al que Pertenece:</label></td>
                    <td>{{ form_widget(form.userInternoTipo) }}
                        {{ form_errors(form.userInternoTipo) }}
                    </td>
                </tr>
                
                 <tr>
                    <td><label id="userTipo" >Acciones que Realizará:</label></td>
                    <td>{{ form_widget(form.userTipo) }}
                        {{ form_errors(form.userTipo) }}
                    </td>
                </tr>
                
                <tr>
                    <td><label id="userCargo" >Cargo que Desempeña:</label></td>
                    <td>{{ form_widget(form.userCargo) }}
                        {{ form_errors(form.userCargo) }}
                    </td>
                </tr>
                
                <tr>
                    <td><label id="userTelefono" >Teléfonos:</label></td>
                    <td>{{ form_widget(form.userTelefono) }}
                        {{ form_errors(form.userTelefono) }}
                    </td>
                </tr>
                
                
                
                <tr>
                    <td align='center' colspan=2 >
                        <input style="visibility: hidden" type="button" value="  Registrar Usuario  "/>
                        <br>
                        <textarea readonly="readonly" rows="2" cols="50" id="mensaje" style="font-family: Verdana, Geneva, sans-serif; color: red; border: none; background-color: white; font-weight: bolder; font-size: 10px" ></textarea>
                        <div id="msgDialog">
                        </div>
                        <br>
                        
                        <input id="verificarUsuario" type="submit" value="{{ 'Guardar Usuario'|trans({}, 'FOSUserBundle') }}" />
                        
                        <input id="eliminarUsuario" type="button" value=" ** Eliminar Usuario ** " onclick="return enviarEliminarUsuario();"/>

                        <input id="btnRegresar" type="button" value="Regresar" onclick="location.href = '{{ url('MinSalSCAUsersBundle_mantMostrarUsuarios', {'userInterno': userInterno, 'entId': entId})}}';"/>
                    </td>
                </tr>
            </table>    

    {{ form_rest(form) }}
        </form>