{% extends "MinSalSCAUsersBundle::layout.html.twig" %}

{% block fos_user_content %}
<script type="text/javascript">
  $(document).ready(function(){
      $("#_submit").button();
});
</script>
<br></br>
    
<form  action="{{ path("fos_user_security_check") }}" method="post">
    <table align='center' style="border: 1px solid; padding: 20px;">
        <tr>
            <td colspan="2" align='center' ><h1>Ingreso a SCA</h1></td>
        </tr>
        <tr>
            <td align="right">
                <label for="username">{{ 'Usuario:'|trans({}, 'FOSUserBundle') }}</label>
            </td>
            <td>
                <input type="text" id="username" name="_username" autocomplete="off" value="{{ last_username }}" />
            </td>
        </tr>
        
         <tr>
            <td align="right">
                 <label for="password">{{ 'Clave:'|trans({}, 'FOSUserBundle') }}</label>
            </td>
            <td>
                <input type="password" id="password" name="_password" />                
            </td>            
        </tr>   
        <!--<tr> <td></td>
            <td align="left" >
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'Recordarme'|trans({}, 'FOSUserBundle') }}</label>
            </td>            
        </tr>-->
        <tr>
            <td colspan="2" style=" font-size: 12px; font-family: Verdana, Geneva, sans-serif; color: red " >
                {% if error %}
                    {% if error=='Bad credentials' %}
                       <div>ERROR DE USUARIO/CONTRASEÑA</div>
                    {% elseif error=='The presented password is invalid.' %}
                       <div>USUARIO/CONTRASEÑA INCORRECTOS</div>
                    {% elseif error=='User account is disabled.' %}
                       <div id="msgDialogComentario" title="Notificación" style="display:none">
                           LA CUENTA NO SE ENCUENTRA CONFIRMADA AUN. PARA ACTIVARLA ES NECESARIO SEGUIR LAS INSTRUCCIONES QUE SE PROPORCIONARON EN EL CORREO DE ACTIVACION
                       </div>
                       <script type="text/javascript"> 
                           $("#msgDialogComentario").dialog({
                                modal: true,
                                resizable: false,
                                draggable: false,
                                position: 'center',
                                dialogClass: "no-close",
                                buttons:[
                                    {
                                        text: "OK",
                                        click: function() {
                                            $( this ).dialog( "close" );
                                        }
                                    }
                                ]
                            });
                       </script>
                       
                    {% else %}
                       {{ error }}
                    {% endif %}
                {% endif %}
                {% if app.request.session.get('notice') %}
                    <div class="flash-notice">
                        {{ app.request.session.get('notice') }}
                    </div><br/>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td colspan="2" align='center' >
                <input type="submit" id="_submit" name="_submit" value="{{ 'Ingresar'|trans({}, 'FOSUserBundle') }}" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <a href="{{url('fos_user_resetting_request')}}">Olvidé mi clave</a>
            </td>
        </tr>
    </table>
    
</form>

{% endblock fos_user_content %}