{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% form_theme form 'MinSalSidPlaAdminBundle:Entidad/Form:fields.html.twig' %}

{% block body %}

    <script type="text/javascript">
        
        /**
        *
        */
        function ValidarCuotas(){
            var msg ='Se quito la selección de:';
            
            var item='';
            if($('#cuotaImport').is(':visible') && !$('#Entidad_entImportador').is(':checked')){
                item='"Importador"';
            }
            
            if($('#cuotaLocal').is(':visible') && !$('#Entidad_entComprador').is(':checked')){
                item?item+=' y ':null;
                item+='"Comprador Local"';
            }
            
            msg+=item+'. Por lo que se elimaran sus cuotas respectivas de '+item+'\n\n¿Desea continuar?';
            
            if(item){
                return confirm(msg);
            }
            return true;
        }
        
        /**
        * Funcion utilizada para disparar todos los triggers y ajustar el formulario al contenido cargado.
        */
        function EventosIniciales(){
            $('#Entidad_entTipoPersona').trigger('change');
            $('#Entidad_entHabilitado').trigger('change');
            HabProduccion();
            HabVendedor();
            HabCuotaImp();
            HabCuotaLocal()
        }
        
        /**
        * Funcion utilizada para Ocultar/Mostrar el campo de comentarios
        */
        function HabComentario(){
            if( $('input[name="Entidad[entHabilitado]"]:checked').val() == 1){
                $('#Entidad_entComentario').removeAttr('required');
                $('#Entidad_entComentario').val(null);
                $('#Entidad_entComentario').parent().parent().hide('slow');

            }else if ( $('input[name="Entidad[entHabilitado]"]:checked').val() ==0){
                $('#Entidad_entComentario').parent().parent().show('slow');
                $('#Entidad_entComentario').attr('required','required');
            }
        }
        
        /**
        * Funcion utilizada para Ocultar/Mostrar los campos relacionados al tipo de persona
        */
        function tipoPersona(accion){
            if(accion=='show'){
                $('#Entidad_entTipoDoc').parent().parent().show('slow');
                $('#Entidad_entActua').parent().parent().show('slow');
                $('#Entidad_entRepNit').parent().parent().show('slow');
                $('#Entidad_entRepDoc').parent().parent().show('slow');
                $('#Entidad_entRepNombre').parent().parent().show('slow');
                
                $('#Entidad_entTipoDoc').children('input').attr('required','required');
                $('#Entidad_entActua').children('input').attr('required','required');
                $('#Entidad_entRepNit').attr('required','required');
                $('#Entidad_entRepDoc').attr('required','required');
                $('#Entidad_entRepNombre').attr('required','required');
                    
            }else if(accion=='hide'){
                $('#Entidad_entTipoDoc').parent().parent().hide('slow');
                $('#Entidad_entActua').parent().parent().hide('slow');
                $('#Entidad_entRepNit').parent().parent().hide('slow');
                $('#Entidad_entRepDoc').parent().parent().hide('slow');
                $('#Entidad_entRepNombre').parent().parent().hide('slow');
                
                $('input[name="Entidad[entTipoDoc]"]:checked').attr('checked',null);
                $('input[name="Entidad[entActua]"]:checked').attr('checked',null);
                $('#Entidad_entTipoDoc').children('input').removeAttr('required');
                $('#Entidad_entActua').children('input').removeAttr('required');
                
                $('#Entidad_entRepNit').val(null);
                $('#Entidad_entRepDoc').val(null);
                $('#Entidad_entRepNombre').val(null);
                
                $('#Entidad_entRepNit').removeAttr('required');
                $('#Entidad_entRepDoc').removeAttr('required');
                $('#Entidad_entRepNombre').removeAttr('required');
            }
        }
        
        function HabProduccion(){
            if( $('#Entidad_entProductor').is(':checked')){
                $('#Entidad_entProdEstEtil').parent().parent().show('slow');
                $('#Entidad_entProdEstEtil').attr('required','required');
            }else{
                $('#Entidad_entProdEstEtil').removeAttr('required');
                $('#Entidad_entProdEstEtil').val(null);
                $('#Entidad_entProdEstEtil').parent().parent().hide('slow');
            }
        }
        
        function HabVendedor(){
            if( $('#Entidad_entComprador').is(':checked')){
                $('#Entidad_entCompVend').parent().parent().show('slow');
            }else{
                $('#Entidad_entCompVend').removeAttr('checked');
                $('#Entidad_entCompVend').parent().parent().hide('slow');
            }
        }
        
        function HabCuotaImp(){
            if( $('#Entidad_entImportador').is(':checked') && 
                    $('#Entidad_entId').val()!= '-1' && 
                    $('#Entidad_entId').val()!=''){
                $('#cuotaImport').show('fast');
            }else{
                $('#cuotaImport').hide('fast');
            }
        }
        
        function HabCuotaLocal(){
            if( $('#Entidad_entComprador').is(':checked') && 
                    $('#Entidad_entId').val()!= '-1' && 
                    $('#Entidad_entId').val()!=''){
                $('#cuotaLocal').show('fast');
            }else{
                $('#cuotaLocal').hide('fast');
            }
        }
        
        $(document).ready(function(){
            $('#btnGuardar').button();
            $('#btnRegresar').button();
            $('#btnUsuarios').button();
            
            $('#Entidad_entTipoPersona').change(function(){
                if( $('input[name="Entidad[entTipoPersona]"]:checked').val() =='N'){
                    tipoPersona('hide');
                    
                }else if ( $('input[name="Entidad[entTipoPersona]"]:checked').val() =='J'){
                    tipoPersona('show');
                }
            });
            
            $('#Entidad_entTipoDoc').change(function(){
                if( $('input[name="Entidad[entTipoDoc]"]:checked').val() =='P'){
                    $('#Entidad_entRepDoc').unmask();
                    
                }else if ( $('input[name="Entidad[entTipoDoc]"]:checked').val() =='D'){
                    $('#Entidad_entRepDoc').mask('99999999-9');
                }
            });
            $('#Entidad_entTipoDoc').change();
            
            $('#Entidad_entHabilitado').change(function(){
                HabComentario();
            });
            
            $('#Entidad_entProductor').click(function(){
                HabProduccion();
            });
            
            $('#Entidad_entComprador').click(function(){
                HabVendedor();
            });
            
            
            $('form>table').show('fast',EventosIniciales);
            
            $('#Entidad_entImportador').parent().append($('#cuotaImport'))
            $('#Entidad_entComprador').parent().append($('#cuotaLocal'))
            $('#Entidad_entVenc').attr('readonly','readonly');
            
            
            $('#Entidad_entNit').mask('9999-999999-999-9');
            $('#Entidad_entRepNit').mask('9999-999999-999-9');
       });
    </script>
    
    
    <form id="formulario" action="{{ path('MinSalSidPlaAdminBundle_mantEntidadEdicion') }}" method="post" {{ form_enctype(form) }}>
        
        <table align='center' style="display:none">
            <tr>
                <td colspan="2" align="center">
                    <h1>Formulario de Importadores, Productores, Compradores Locales</h1>
                    
                    {% if app.session.hasFlash('notice') %}
                        <div class="flash-notice">
                            {{ app.session.flash('notice') }}
                        </div><br/>
                    {% endif %}
                    
                        
                    {% if autorizadoDNM == false %}
                        <div class="flash-notice">
                            {{autorizadoDNMText}}
                        </div><br/>
                    {% endif %}
                        
                    {% if entHabilitado == false %}
                        <div class="flash-notice">
                            ESTA EMPRESA SE ENCUENTRA BLOQUEADA
                        </div><br/>
                    {% endif %}
                </td>
            </tr>
            {{ form_widget(form) }}
        </table>
        
        <center>
            <!--El boton tiene que ser submit, sino causa problemas con el envio-->
            <input id="btnGuardar" type="submit" value="Guardar" onclick="return ValidarCuotas();"/> &nbsp;
            <input id="btnUsuarios" type="button" value="Ver Usuarios" onclick="location.href = '{{ url('MinSalSidPlaUsersBundle_mantMostrarUsuarios', {'userInterno': 'false', 'entId': entId})}}';"/>
            <input id="btnRegresar" type="button" value="Regresar" onclick="location.href = '{{ url('MinSalSidPlaAdminBundle_mantEntidades')}}';"/>
            
            <span id="cuotaImport">
                &nbsp;&nbsp;
                <a href="{{ url('MinSalSidPlaAdminBundle_mantCargarCuotas',{'entId': entId,'cuoTipo':'I'})}}"> Cuotas de Importación </a>
            </span>
            
            <span id="cuotaLocal">
                &nbsp;&nbsp;
                <a href="{{ url('MinSalSidPlaAdminBundle_mantCargarCuotas',{'entId': entId,'cuoTipo':'L'})}}"> Cuotas de Compras Locales</a>
            </span>
        </center>
    </form>
{% endblock %}