{% extends 'MinSalSidPlaBundle:Default:index.html.twig' %}
{% form_theme form 'MinSalSidPlaUsersBundle:ChangePassword/Form:fields.html.twig' %}
{% block body %}
    <script type="text/javascript">
        $(document).ready(function(){
            $('#btnGuardar').button();
            $('#btnEliminar').button();
            $('#btnRegresar').button();

            //Hoja de estilo a tabla
           $('td>label').parent().attr('align','right');
           if($('#InventarioDet_invDetId').val()=='' || $('#InventarioDet_invDetId').val()==-1){
               $('#btnEliminar').hide();
           }
        });


        function enviarEliminar(){
            if(confirm('!Desea eliminar el registro "'+$('#InventarioDet_invNombreEsp').val()+'"?')){
                if(!confirm('!Desea abortar la eliminacion??')){
                    $('#valido').val(true);
                    $('#eliminar').val(true);
                    $('#formulario').submit();
                    return true;
                }
            }
            return false;
        }
    </script>
    
    <form id="formulario" action="{{ path('MinSalSidPlaSCAProcesosBundle_mantInventarioDetEdicion') }}" {{ form_enctype(form) }} method="POST" class="InventarioDetTypeForm">
        <input type="hidden" id="valido" value=false/>
        <input type="hidden" id="eliminar" name="eliminar" value=false/>
        
            <table align='center' style="border: 1px solid;" >
                <tr>
                    <td align='center' colspan="2">
                        <h1>
                            Registro de Inventario de Alcohol de "{{entNombComercial}}"
                        </h1>
                        {% if app.session.hasFlash('notice') %}
                            <div class="flash-notice">
                                {{ app.session.flash('notice') }}
                            </div><br/>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><label id="username" >Nombre de Alcohol:</label></td>
                    <td>
                        {{ form_widget(form.alcId) }}
                        {{ form_errors(form.alcId) }}
                    </td>
                </tr>
                <tr>
                    <td><label id="plainPasswordfirst" >Nombre Especifico:</label></td>
                    <td>
                        {{ form_widget(form.invNombreEsp) }}
                        <div class="flash-notice">
                            {{ form_errors(form.invNombreEsp) }}
                        </div>
                    </td>
                </tr>   
                <tr>
                    <td><label id="plainPasswordsecond" >Grado:</label></td>
                    <td>{{ form_widget(form.invGrado) }}</td>                
                </tr>  
                <tr>
                    <td><label id="email" >Cantidad (Ltr) :</label></td>
                    <td>
                        {{ form_widget(form.invDetLitros) }}
                        <div class="flash-notice">
                            {{ form_errors(form.invDetLitros) }}
                        </div>
                    </td>
                </tr>            
                
                
                
                <tr>
                    <td colspan="2"><hr/></td>
                </tr> 
                
                
                
                <tr>
                    <td><label id="userPrimerNombre" >Comentarios:</label></td>
                    <td>{{ form_widget(form.invDetComentario) }}
                        <div class="flash-notice">
                            {{ form_errors(form.invDetComentario) }}
                        </div>
                    </td>                
                </tr> 
                
                
                <tr>
                    <td align='center' colspan=2 >
                        <div id="msgDialog">
                        </div>
                        <br>
                        
                        <input id="btnGuardar" type="submit" value="Guardar" />
                        
                        <input id="btnEliminar" type="button" value="Eliminar" onclick="return enviarEliminar();"/>

                        <input id="btnRegresar" type="button" value="Regresar" onclick="location.href = '{{ url('MinSalSidPlaSCAProcesosBundle_mantInventariosDet')}}';"/>
                    </td>
                </tr>
            </table>    

    {{ form_rest(form) }}
        </form>
{% endblock%}